br
br
br
.container.marketing
    .row
        .col-lg-4
            svg.bd-placeholder-img.rounded-circle(width='140', height='140', xmlns='http://www.w3.org/2000/svg', preserveAspectRatio='xMidYMid slice', focusable='false', role='img', aria-label='Placeholder: 140x140')
                title Placeholder
                rect(width='100%', height='100%', fill='#777')
                text(x='50%', y='50%', fill='#777', dy='.3em') 140x140
                h2 Heading
                p
                    | Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
                //- p
                //-     a.btn.btn-secondary(href='#', role='button') View details »
    
        .col-lg-4
            svg.bd-placeholder-img.rounded-circle(width='140', height='140', xmlns='http://www.w3.org/2000/svg', preserveAspectRatio='xMidYMid slice', focusable='false', role='img', aria-label='Placeholder: 140x140')
                title Placeholder
                rect(width='100%', height='100%', fill='#777')
                text(x='50%', y='50%', fill='#777', dy='.3em') 140x140
                h2 Heading
                p
                    | Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
                        
        .col-lg-4
            svg.bd-placeholder-img.rounded-circle(width='140', height='140', xmlns='http://www.w3.org/2000/svg', preserveAspectRatio='xMidYMid slice', focusable='false', role='img', aria-label='Placeholder: 140x140')
                title Placeholder
                rect(width='100%', height='100%', fill='#777')
                text(x='50%', y='50%', fill='#777', dy='.3em') 140x140
                h2 Heading
                p
                    | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    br
    br
    br

    hr.featurette-divider
    .row.featurette
        .col-md-7
            h2.featurette-heading
                | LSKYouth - молодежная организация. 
                span.text-muted Развиваем молодежное общество.
            p.lead
                | Нашей целью является поддержка молодежи города Лисичанска, создание условий для молодого контингента и дальнейшего развития города вместе с молодым поколением Лисичанска.
        .col-md-5
            img.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto.border.border-secondary.rounded(src='/public/images/lsk.png', width='500', height='500', focusable='false', alt='Placeholder: 500x500')
            
    hr.featurette-divider
    .row.featurette
        .col-md-7.order-md-2
            h2.featurette-heading
                | Читайте статьи наших авторов! 
                span.text-muted Имеются даже рецензии на фильмы!
            p.lead
                | В LSKYouth состоит не мало талантливых писателей и журналистов, и благодаря этому на сайте имеется множество статей на самые разные темы!
        .col-md-5.order-md-1
            img.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto.border.border-secondary.rounded(src='/public/images/article.png', width='500', height='500' alt="Events")
    hr.featurette-divider
    .row.featurette
        .col-md-7
            h2.featurette-heading
                | А ещё, мы снимаем видеоролики! 
                span.text-muted Наши видео никого не оставят равнодушными!
            p.lead
                | В городе постоянно происходят интересные события, о которых мы поведаем вам! Наши видео охватывают широкий спектр областей: от пародийных и обучающих -    до социальных роликов и репортажей.
        .col-md-5
            img.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto.border.border-secondary.rounded(src='/public/images/video.png', width='500', height='500' alt="Events")
    hr.featurette-divider
    .row.featurette
        .col-md-7.order-md-2
            h2.featurette-heading
                | Посещайте наши мероприятия! 
                span.text-muted Вы получите тонну позитивных эмоций!
            p.lead
                | Одной из целей LSKYouth является развитие культуры города Лисичанска. Чтобы способствовать этому мы проводим множество интересных мероприятий, на которых вы сможете приятно провести время.
        .col-md-5.order-md-1
            img.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto.border.border-secondary.rounded(src='/public/images/event.png', width='500', height='500' alt="Events")
    hr.featurette-divider
    br