header
  nav.navbar.navbar-expand-lg.navbar-dark.fixed-top.bg-dark
    img.navbar-brand(src="/public/images/logo.png", width='40px', height='50px' alt="LSK")
    a.navbar-brand(href='/') LSKYoyth
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='/')
            | Главная 
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='/views/news.pug') Новости
        li.nav-item
          a.nav-link(href='/views/about.pug') О нас
        li.nav-item
          a.nav-link(href='/views/services.pug') Услуги
        li.nav-item
          a.nav-link(href='/views/projects.pug') Проекты
        li.nav-item
          a.nav-link(href='/views/contacts.pug') Контакты
      button.btn.btn-outline-danger.my-2.my-sm-0(href='#') Donate
      button.btn.btn-primary.my-2.my-sm-0.ml-3.mr-3(href='#') Войти
      form.form-inline.mt-2.mt-md-0
        .input-group
          input.form-control(type='text', placeholder='Search', aria-label='Search')
          .input-group-append
            button.btn.btn-outline-secondary(type='submit') Find
          

